%h1 Listing story_ships

%table
  %tr
    %th Story
    %th Ship
    %th
    %th
    %th

  - @story_ships.each do |story_ship|
    %tr
      %td= story_ship.story_id
      %td= story_ship.ship_id
      %td= link_to 'Show', story_ship
      %td= link_to 'Edit', edit_story_ship_path(story_ship)
      %td= link_to 'Destroy', story_ship, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Story ship', new_story_ship_path
