= form_for @relationship do |f|
  -if @relationship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relationship.errors.count, "error")} prohibited this relationship from being saved:"
      %ul
        - @relationship.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
