%p#notice= notice

%h1= @author.name

.profile
  %ul.profile_links
    %li= link_to "View #{@author.name} on FF.net", author_ff_path(@author.id)
    %li Subscribe to Author on FF.net

  .column-2
    .stats
      %h3= "#{@author.name}'s Stats"
      %ul
        %li
          Stories Written:
          = @author.stories.count
        %li
          Reviews Received:
          = total_reviews
        %li
          Words Written
          = total_words
        %li
          Chapters Written:
          = total_chapters

    .stories
      %h3= "#{@author.name}'s Stories"
      %span (Click to Read story on FF.net)
      %ol
        -@author.stories.each do |story|
          %li= link_to story.title, story_ff_path(story.ff_id)

  .column-2.tag-cloud
    %h3 Tag Cloud
    - # need to keep count of each tag and assign it
    - # classes respectively
    - # can do a has like story['theme-name'] = count
    - # loop through twice?
    - # we can get key names and counts at the same time
    - # need to find the max
    - # do the count, do some sort of sort on the array. then pop the top values depending on the highest
    = generate_tag_cloud(@author).inspect


