%h1 Track My Ship: Stories

.stories-sort

  = form_tag stories_path, :method => 'get', :id => "stories_search" do
    = #text_field_tag :search, params[:search], :placeholder => "Enter Title"
    = #select_tag(:character, options_for_select(characters_array), :multiple => true, :class => 'chzn-select')
    =select_tag(:ships, options_for_select(ships_array), :multiple => false, :class => 'chzn-select' )
    -# When select box is chosen get character 1 and character 2 and run a where on that
    =#select_tag(:themes, options_for_select(themes_array), :multiple => true, :class => 'chzn-select')
    = #submit_tag "Filter", :name => nil
    = #link_to 'Clear Filters', stories_path


  %ul.stories-sort-order
    %li
      = sortable "reviews"
    %li
      = sortable "published"
    %li
      = sortable "updated"
    %li
      = sortable "chapters"
    %li
      = sortable "words"
  = will_paginate @stories

%ul.stories-container
  - @stories.each do |story|
    %li.story
      .story-title
        %h4
          =link_to story.title, story_ff_path(story.id)
          %span= link_to story.author.name, author_path(story.author)
      .story-summary
        %p=story.summary
      .story-footer
        .story-footer-reviews
          = number_with_delimiter(story.reviews, :delimiter => ',')
        %ul.story-footer-tags
          - story.characters.sort! { |a,b| a.ff_name.downcase <=> b.ff_name.downcase }.each do |character|
            %li=character.ff_name
          - if story.themes
            -story.themes.each do |t|
              %li=t.name
          %li= "#{story.chapters} Chapters"
          %li= number_with_delimiter(story.words, :delimiter => ',')

= #will_paginate @stories


