%h1 Track My Ship: Stories

.stories-sort

  = form_tag stories_path, :method => 'get', :id => "stories_search" do
    = text_field_tag :search, params[:search]
    =select_tag(:character, options_for_select(characters_array), :multiple => true)
    =#select_tag(:ships, options_for_select(ships_array), :multiple => true)
    =select_tag(:themes, options_for_select(themes_array), :multiple => true)
    = submit_tag "Filter", :name => nil



  = #multiselect_tag(ships_array)
  = #multiselect_tag(characters_array)
  %ul.stories-sort-order
    %li
      = sortable "reviews"
    %li
      = sortable "published"
    %li
      = sortable "updated"
    %li
      = sortable "chapters"
    %li
      = sortable "words"
  = will_paginate @stories

%ul.stories-container
  - @stories.each do |story|
    %li.story
      .story-title
        %h4
          =story.title
          %span= link_to story.author.name, author_path(story.author)
      .story-summary
        %p=story.summary
      .story-footer
        .story-footer-reviews
          = number_with_delimiter(story.reviews, :delimiter => ',')
        %ul.story-footer-tags
          - story.characters.each do |character|
            %li=character.ff_name
          - if story.themes
            -story.themes.each do |t|
              %li=t.name
          %li= "#{story.chapters} Chapters"
          %li= number_with_delimiter(story.words, :delimiter => ',')

= will_paginate @stories




-#%table
  %tr
    %th Title
    %th Ff
    %th Author
    -# %th Summary
    %th Rating
    %th Language
    %th Theme
    %th Chapters
    %th Words
    %th Reviews
    %th Complete
    %th Characters
    %th Published
    %th Updated
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.title
      %td= story.ff_id
      %td= story.author.name
      -# %td= story.summary
      %td= story.rating
      %td= story.language
      %td= story.theme
      %td= story.chapters
      %td= story.words
      %td= story.reviews
      %td= story.complete
      %td
        - story.characters.each do |character|
          =character.ff_name
      %td= story.published
      %td= story.updated
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete

%br

=# link_to 'New Story', new_story_path
