%h1 Listing storyships

%table
  %tr
    %th Story
    %th Ship
    %th
    %th
    %th

  - @storyships.each do |storyship|
    %tr
      %td= storyship.story_id
      %td= storyship.ship_id
      %td= link_to 'Show', storyship
      %td= link_to 'Edit', edit_storyship_path(storyship)
      %td= link_to 'Destroy', storyship, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Storyship', new_storyship_path
