%html
  %head
    %title Track My Ship
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "jquery-1.7.2.min.js"
    = javascript_include_tag "chosen.jquery.min.js"
    = javascript_include_tag "stories.js"

  %body{:id => "#{controller.controller_name}"}
    %nav
      .logo Track Your Ship
      %ul
        %li
          =link_to "View Stories", stories_path
        %li
          %a(href="#") How It Works
        %li
          %a(href="#") Follow Us
        %li.social-links
          %ul
            %li
              %a.facebook(href="#")
            %li
              %a.tumblr(href="#")
            %li
              %a.twitter(href="#")
            -#%li
              %a(href="#") Pinterest

    #wrapper
      = yield
    %footer
      %ul
        %li
          %a(href="#") Ask Us
        %li
          %a(href="#") Contact Us
        %li
          %span
            Copyright Paige Ponzeka 2012